<h1>Details of <%= @pet.name %></h1>

<h3>Name: <%= @pet.name %></h3>
<h3>Address: <%= @pet.address %></h3>
<h3>species: <%= @pet.species %></h3>

<div d-flex justify-content-between>
  <%= link_to 'Delete', pet_path(@pet), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>

  <%= link_to 'Edit this pet', edit_pet_path(@pet) %>

  <%= link_to 'Back', pets_path %>
</div>
